.xxoo {
  background-color: yellowgreen;
  color: pink;
}
h1 {
  background-color: yellowgreen;
  color: pink;
  width: 200px;
  height: 200px;
}
.mian {
  width: 500px;
  border: 1px solid red;
  background-color: yellowgreen;
  color: pink;
}
